/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 14, 2015, 6:22:11 PM
    Author     : Benito
*/

.button_fileToolbar {
    -fx-background-color: linear-gradient(#660000, #ff1a1a);
}

.button_fileToolbar_first {
    -fx-background-color: linear-gradient(#660000, #ff1a1a);
}

.button_styleToolbar {
    -fx-background-color: #ff4da6;
}

.styleToolbar {
    -fx-background-color: linear-gradient(#4d0033, #ff99bb);
    -fx-padding: 20px;
}

.fileToolbar {
    -fx-background-color: linear-gradient(#4d0000, #ffcccc);
    -fx-padding: 20px;
}

.anim_hbox {
    //-fx-background-image: url("yellow-background2.jpg");
}

.style_controller {
    -fx-background-color: white;
}